<div class="container-fluid pt-5">
  <div class="row">
    <div class="row d-flex flex-row" *ngFor="let user of allUsers">
      <div class="row" *ngIf="user.items.length">
        <h3>
          {{ user.fullname }}
        </h3>
      </div>
      <div
        *ngIf="user.items.length"
        class="card d-flex flex-row p-2 overflow-auto spisakOglasa"
      >
        <div class="col-lg-2 text-center m-2" *ngFor="let item of user.items">
          <div class="card" style="height: 200px">
            <!-- user -->
            <div class="col mt-1">
              <b>
                {{ item.name }}
              </b>
            </div>
            <!-- <div class="col">Korisnik : {{ item.createdBy }}</div> -->
            <!-- <div class="col">Opis : {{ item.shortDescription }}</div> -->
            <div class="col" *ngIf="item.price != 0">
              Cena : {{ item.price }}
            </div>
            <div class="col" *ngIf="!item.gift">
              Zamena : {{ item.swap ? "Da" : "Ne" }}
            </div>
            <div class="col" *ngIf="item.price == 0">
              Poklanjam : {{ item.gift ? "Da" : "Ne" }}
            </div>
            <div class="row">
              <div class="col m-3">
                <button
                  class="btn btn-primary"
                  [routerLink]="['/details', item._id]"
                >
                  Detaljnije
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
