<div
  class="container-fluid d-flex justify-content-center align-items-center"
  style="height: 90vh"
>
  <div class="row card">
    <form
      [formGroup]="forma"
      class="d-flex justify-content-start align-items-center flex-column"
    >
      <div class="row m-4" style="width: 100%">
        <div class="col p-0 d-flex justify-content-start align-items-center">
          <label for="name">Naziv</label>
          <input type="text" formControlName="name" />
        </div>
      </div>
      <!-- <div class="row m-4" style="width: 100%">
        <div class="col p-0 d-flex justify-content-start align-items-center">
          <label for="name">Kratak opis</label>
          <input type="text" formControlName="shortDescription" />
        </div>
      </div> -->
      <div class="row m-4" style="width: 100%">
        <div class="col p-0 d-flex justify-content-start align-items-center">
          <label for="name">Detaljan opis</label>
          <textarea type="text" formControlName="longDescription"></textarea>
        </div>
      </div>
      <div class="row m-4" style="width: 100%">
        <div class="col p-0 d-flex justify-content-start align-items-center">
          <label for="name">Cena</label>
          <input type="text" formControlName="price" />
        </div>
      </div>
      <div class="row m-4" style="width: 100%">
        <div class="col p-0 d-flex justify-content-start align-items-center">
          <label for="name">Može zamena :</label>
          <input type="checkbox" formControlName="swap" />
        </div>
      </div>
      <div class="row m-4" style="width: 100%">
        <div class="col p-0 d-flex justify-content-start align-items-center">
          <label for="name">Poklanjam : </label>
          <input type="checkbox" formControlName="gift" />
        </div>
      </div>
      <div class="row w-100">
        <div class="col-12 m-0 d-flex flex-column justify-content-start">
          <div class="row d-flex flex-nowrap">
            <div class="col-4">
              <button class="btn btn-light" (click)="uploadAndCompress(0)">
                Slika 1
              </button>
            </div>
            <div class="col-8 overflow-auto">
              <p>{{ files[0]?.name }}</p>
            </div>
          </div>
          <div class="row d-flex flex-nowrap">
            <div class="col-4">
              <button class="btn btn-light" (click)="uploadAndCompress(1)">
                Slika 2
              </button>
            </div>
            <div class="col-8 overflow-auto">
              <p>{{ files[1]?.name }}</p>
            </div>
          </div>
          <div class="row d-flex flex-nowrap">
            <div class="col-4">
              <button class="btn btn-light" (click)="uploadAndCompress(2)">
                Slika 3
              </button>
            </div>
            <div class="col-8 overflow-auto">
              <p>{{ files[2]?.name }}</p>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="row-6 d-flex justify-content-center align-items-center mb-4">
      <button
        *ngIf="currentUrl == '/ownadds'"
        class="btn btn-primary"
        (click)="editAdd()"
        [disabled]="!this.forma.valid"
      >
        Izmeni
      </button>
      <button
        *ngIf="currentUrl == '/add'"
        class="btn btn-primary"
        (click)="addAdd()"
        [disabled]="!this.forma.valid"
      >
        Dodaj
      </button>
    </div>
  </div>
</div>
