<div class="container-fluid pt-5">
  <div class="row">
    <div class="col-lg-2 text-center mt-3" *ngFor="let item of user.items">
      <div class="card">
        <!-- user -->
        <div class="col">Korisnik : {{ item.createdBy }}</div>
        <div class="col">Naziv : {{ item.name }}</div>
        <div class="col">Opis : {{ item.shortDescription }}</div>
        <div class="col">Cena : {{ item.price }}</div>
        <div class="col">
          <button class="btn btn-primary" [routerLink]="['/details', item._id]">
            Detaljnije
          </button>
          <button class="btn btn-danger" (click)="deleteAdd(item)">
            Izbrisi
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
