#navbar {
  background-color: black;
  width: 100%;
}
span {
  color: white;
}
@media screen and (max-width: 420px) {
  .bigButtons {
    display: none !important;
  }
}
@media screen and (min-width: 420px) {
  .smallButtons {
    display: none !important;
  }
}
