<div class="container-fluid pt-5">
  <div class="row">
    <div class="col" *ngIf="user.items.length === 0">
      Trenutno nemate oglasa
    </div>
    <div class="col-lg-2 text-center mt-3" *ngFor="let item of user.items">
      <div class="card">
        <!-- user -->
        <div class="col">
          <b>
            {{ item.longDescription }}
          </b>
        </div>
        <div class="col">Cena : {{ item.price }}</div>
        <div class="row mt-2 d-flex mb-2 p-1">
          <div class="col">
            <button
              class="btn btn-primary"
              [routerLink]="['/details', item._id]"
            >
              Detaljnije
            </button>
          </div>
          <div class="col">
            <button class="btn btn-success" (click)="updateAdd(item)">
              Izmeni
            </button>
          </div>
          <div class="col">
            <button class="btn btn-danger" (click)="deleteAdd(item)">
              Izbriši
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
