<ng-container *ngIf="isLoggedIn()">
  <div
    class="container-fluid d-flex align-items-center justify-content-center"
    id="homePage"
  >
    <div class="row">
      <div class="col">
        <div class="row mb-5 text-center">
          <h1>{{ activeUser.username }}</h1>
        </div>
        <div class="row-5 justify-content-around d-flex mt-4">
          <button [routerLink]="['/add']">Dodaj novi oglas</button>
          <button [routerLink]="['/adds']">Pregledaj oglase</button>
          <button [routerLink]="['/ownadds']">Pregledaj svoje oglase</button>
          <ng-container *ngIf="activeUser.type === 'admin'">
            <button (click)="createUser()">Dodaj korisnike</button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-container>
