#singleItem {
  height: 60vh;
}
.imgWrapper {
  height: 25vh;
  margin-bottom: 15px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  .singleImg {
    width: 100%;
    height: 100%;
    img {
      width: 250px;
      height: 100%;
    }
  }
}
@media screen and (max-width: 420px) {
  .wholePage {
    width: 100%;
  }
  .imgWrapper {
    flex-wrap: wrap;
    height: auto;
    .singleImg {
      margin: 10px;
      width: 100%;
      img {
        width: 200px;
      }
    }
  }
}
@media screen and (min-width: 420px) {
}
